body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: #f4f4f4;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    flex: 1;
}
.about_container {
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translateX(-450px); 
    margin-left: 10px; 
    width: 200px;
    background: #fff;
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 10px; 
}
.bordered-image {
    border-radius: 5px; 
}
.bio-header {
    text-align: left; /* Align the text to the left */
    margin: 0; /* Reset any default margins */
    padding: 0; /* Reset any default padding */
}
.bio-body {
    text-align: left; /* Align the text to the left */
    margin: opx; /* Reset any default margins */
    padding-top: 3px; /* Reset any default padding */
    font-size: 0.85em;
    color: #999999;
    font-weight: lighter;
    font-family: monospace;
}
 .projects_list {
    background: #fff;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin: 40px auto 10px; /* Center the box horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px; /* Set a fixed width for the box */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    position: relative; /* Use relative positioning */
    overflow: hidden;
}
.projects_header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 2px;
    padding-left: 18px;
    width: 100%;
}
.project-item {
    text-align: left;
    padding-left: 20px;
    display: block; /* Change to block for full-width alignment */
    width: 100%; /* Set to 100% to take full width */
    white-space: normal; /* Allow text to wrap */
    overflow: hidden;
}
.project-date {
    font-size: 0.85em;
    color: #999999;
    font-weight: lighter;
    font-family: monospace;
}
.arrow {
    margin: 0 10px;
    color: goldenrod;
}
.project-link {
    font-size: 0.85em;
    color: #35c2e6;
    font-weight: lighter;
    font-family: monospace;
}
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f4f4f4;
    padding: 20px;
    border: 2px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    z-index: 10;
}
.popup h3 {
    margin-top: 0;
}
.popup .hide-btn, .popup .google-btn {
    background: #fff;
    color: goldenrod;
    cursor: grab;
    border: 2px solid #ddd;
    border-radius: 5px;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
}
.footer {
    font-size: 0.7em;
    color: goldenrod;
    font-weight: bolder;
    margin-top: -10px;
}
.home-btn {
    background: #fff;
    color: goldenrod;
    cursor: grab;
    border: 2px solid #ddd;
    border-radius: 5px;
}